/frameworks/cocos2d-x/external/wp_8.1-specific/angle/prebuilt/arm/*.dll
/frameworks/cocos2d-x/external/wp_8.1-specific/angle/prebuilt/arm/*.lib
/frameworks/cocos2d-x/external/wp_8.1-specific/angle/prebuilt/win32/*.dll
/frameworks/cocos2d-x/external/wp_8.1-specific/angle/prebuilt/win32/*.lib
/frameworks/cocos2d-x/external/wp_8.1-specific/zlib/prebuilt/arm/*.lib
/frameworks/cocos2d-x/external/wp_8.1-specific/zlib/prebuilt/win32/*.lib
/frameworks/cocos2d-x/external/chipmunk/prebuilt/android/armeabi-v7a/*.a
/frameworks/cocos2d-x/external/chipmunk/prebuilt/android/armeabi/*.a
/frameworks/cocos2d-x/external/chipmunk/prebuilt/android/x86/*.a
/frameworks/cocos2d-x/external/chipmunk/prebuilt/ios/*.a
/frameworks/cocos2d-x/external/chipmunk/prebuilt/mac/*.a
/frameworks/cocos2d-x/external/chipmunk/prebuilt/win32/debug-lib/*.lib
/frameworks/cocos2d-x/external/chipmunk/prebuilt/win32/release-lib/*.lib
/frameworks/cocos2d-x/external/chipmunk/prebuilt/wp8/ARM/*.lib
/frameworks/cocos2d-x/external/chipmunk/prebuilt/wp8/win32/*.lib
/frameworks/cocos2d-x/external/chipmunk/prebuilt/wp_8.1/arm/*.lib
/frameworks/cocos2d-x/external/chipmunk/prebuilt/wp_8.1/win32/*.lib
/frameworks/cocos2d-x/external/curl/prebuilt/android/armeabi-v7a/*.a
/frameworks/cocos2d-x/external/curl/prebuilt/android/armeabi/*.a
/frameworks/cocos2d-x/external/curl/prebuilt/android/x86/*.a
/frameworks/cocos2d-x/external/curl/prebuilt/ios/*.a
/frameworks/cocos2d-x/external/curl/prebuilt/win32/*.dll
/frameworks/cocos2d-x/external/curl/prebuilt/win32/*.lib
/frameworks/cocos2d-x/external/curl/prebuilt/wp8/arm/*.dll
/frameworks/cocos2d-x/external/curl/prebuilt/wp8/arm/*.lib
/frameworks/cocos2d-x/external/curl/prebuilt/wp8/win32/*.dll
/frameworks/cocos2d-x/external/curl/prebuilt/wp8/win32/*.lib
/frameworks/cocos2d-x/external/curl/prebuilt/wp_8.1/arm/*.dll
/frameworks/cocos2d-x/external/curl/prebuilt/wp_8.1/arm/*.lib
/frameworks/cocos2d-x/external/curl/prebuilt/wp_8.1/win32/*.dll
/frameworks/cocos2d-x/external/curl/prebuilt/wp_8.1/win32/*.lib
/frameworks/cocos2d-x/external/jpeg/prebuilt/android/armeabi-v7a/*.a
/frameworks/cocos2d-x/external/jpeg/prebuilt/android/armeabi/*.a
/frameworks/cocos2d-x/external/jpeg/prebuilt/android/x86/*.a
/frameworks/cocos2d-x/external/jpeg/prebuilt/ios/*.a
/frameworks/cocos2d-x/external/jpeg/prebuilt/mac/*.a
/frameworks/cocos2d-x/external/jpeg/prebuilt/win32/*.lib
/frameworks/cocos2d-x/external/jpeg/prebuilt/wp8/ARM/*.lib
/frameworks/cocos2d-x/external/jpeg/prebuilt/wp8/Win32/*.lib
/frameworks/cocos2d-x/external/jpeg/prebuilt/wp_8.1/arm/*.lib
/frameworks/cocos2d-x/external/jpeg/prebuilt/wp_8.1/win32/*.lib
/frameworks/cocos2d-x/external/png/prebuilt/android/armeabi-v7a/*.a
/frameworks/cocos2d-x/external/png/prebuilt/android/armeabi/*.a
/frameworks/cocos2d-x/external/png/prebuilt/android/x86/*.a
/frameworks/cocos2d-x/external/png/prebuilt/ios/*.a
/frameworks/cocos2d-x/external/png/prebuilt/mac/*.a
/frameworks/cocos2d-x/external/png/prebuilt/win32/*.lib
/frameworks/cocos2d-x/external/png/prebuilt/wp8/ARM/*.lib
/frameworks/cocos2d-x/external/png/prebuilt/wp8/Win32/*.lib
/frameworks/cocos2d-x/external/png/prebuilt/wp_8.1/arm/*.lib
/frameworks/cocos2d-x/external/png/prebuilt/wp_8.1/win32/*.lib
/frameworks/cocos2d-x/extensions/LuaXML/*.dll
/frameworks/cocos2d-x/extensions/LuaXML/*.so
/frameworks/cocos2d-x/external/freetype2/prebuilt/android/armeabi-v7a/*.a
/frameworks/cocos2d-x/external/freetype2/prebuilt/android/armeabi/*.a
/frameworks/cocos2d-x/external/freetype2/prebuilt/android/x86/*.a
/frameworks/cocos2d-x/external/freetype2/prebuilt/ios/*.a
/frameworks/cocos2d-x/external/freetype2/prebuilt/mac/*.a
/frameworks/cocos2d-x/external/freetype2/prebuilt/win32/*.lib
/frameworks/cocos2d-x/external/freetype2/prebuilt/wp8/ARM/*.lib
/frameworks/cocos2d-x/external/freetype2/prebuilt/wp8/Win32/*.lib
/frameworks/cocos2d-x/external/freetype2/prebuilt/wp_8.1/arm/*.lib
/frameworks/cocos2d-x/external/freetype2/prebuilt/wp_8.1/win32/*.lib
/frameworks/cocos2d-x/external/glfw3/prebuilt/win32/*.lib
/frameworks/cocos2d-x/external/sqlite3/libraries/win32/*.dll
/frameworks/cocos2d-x/external/sqlite3/libraries/win32/*.lib
/frameworks/cocos2d-x/external/sqlite3/libraries/wp8/arm/*.dll
/frameworks/cocos2d-x/external/sqlite3/libraries/wp8/arm/*.lib
/frameworks/cocos2d-x/external/sqlite3/libraries/wp8/win32/*.dll
/frameworks/cocos2d-x/external/sqlite3/libraries/wp8/win32/*.lib
/frameworks/cocos2d-x/external/sqlite3/libraries/wp_8.1/arm/*.dll
/frameworks/cocos2d-x/external/sqlite3/libraries/wp_8.1/arm/*.lib
/frameworks/cocos2d-x/external/sqlite3/libraries/wp_8.1/win32/*.dll
/frameworks/cocos2d-x/external/sqlite3/libraries/wp_8.1/win32/*.lib
/frameworks/cocos2d-x/external/tiff/prebuilt/android/armeabi-v7a/*.a
/frameworks/cocos2d-x/external/tiff/prebuilt/android/armeabi/*.a
/frameworks/cocos2d-x/external/tiff/prebuilt/android/x86/*.a
/frameworks/cocos2d-x/external/tiff/prebuilt/ios/*.a
/frameworks/cocos2d-x/external/tiff/prebuilt/mac/*.a
/frameworks/cocos2d-x/external/tiff/prebuilt/win32/*.dll
/frameworks/cocos2d-x/external/tiff/prebuilt/win32/*.lib
/frameworks/cocos2d-x/external/tiff/prebuilt/wp8/ARM/*.lib
/frameworks/cocos2d-x/external/tiff/prebuilt/wp8/Win32/*.lib
/frameworks/cocos2d-x/external/tiff/prebuilt/wp_8.1/arm/*.lib
/frameworks/cocos2d-x/external/tiff/prebuilt/wp_8.1/win32/*.lib
/frameworks/cocos2d-x/external/webp/prebuilt/android/armeabi-v7a/*.a
/frameworks/cocos2d-x/external/webp/prebuilt/android/armeabi/*.a
/frameworks/cocos2d-x/external/webp/prebuilt/android/x86/*.a
/frameworks/cocos2d-x/external/webp/prebuilt/ios/*.a
/frameworks/cocos2d-x/external/webp/prebuilt/mac/*.a
/frameworks/cocos2d-x/external/webp/prebuilt/win32/*.lib
/frameworks/cocos2d-x/external/websockets/prebuilt/android/armeabi-v7a/*.a
/frameworks/cocos2d-x/external/websockets/prebuilt/android/armeabi/*.a
/frameworks/cocos2d-x/external/websockets/prebuilt/android/x86/*.a
/frameworks/cocos2d-x/external/websockets/prebuilt/ios/*.a
/frameworks/cocos2d-x/external/websockets/prebuilt/mac/*.a
/frameworks/cocos2d-x/external/websockets/prebuilt/win32/*.dll
/frameworks/cocos2d-x/external/websockets/prebuilt/win32/*.lib
/frameworks/cocos2d-x/external/websockets/prebuilt/wp8/arm/*.dll
/frameworks/cocos2d-x/external/websockets/prebuilt/wp8/arm/*.lib
/frameworks/cocos2d-x/external/websockets/prebuilt/wp8/win32/*.dll
/frameworks/cocos2d-x/external/websockets/prebuilt/wp8/win32/*.lib
/frameworks/cocos2d-x/external/websockets/prebuilt/wp_8.1/arm/*.dll
/frameworks/cocos2d-x/external/websockets/prebuilt/wp_8.1/arm/*.lib
/frameworks/cocos2d-x/external/websockets/prebuilt/wp_8.1/win32/*.dll
/frameworks/cocos2d-x/external/websockets/prebuilt/wp_8.1/win32/*.lib
/frameworks/cocos2d-x/external/win32-specific/MP3Decoder/prebuilt/*.dll
/frameworks/cocos2d-x/external/win32-specific/MP3Decoder/prebuilt/*.lib
/frameworks/cocos2d-x/external/win32-specific/OggDecoder/prebuilt/*.dll
/frameworks/cocos2d-x/external/win32-specific/OggDecoder/prebuilt/*.lib
/frameworks/cocos2d-x/external/win32-specific/OpenalSoft/prebuilt/*.dll
/frameworks/cocos2d-x/external/win32-specific/OpenalSoft/prebuilt/*.lib
/frameworks/cocos2d-x/external/win32-specific/gles/prebuilt/*.dll
/frameworks/cocos2d-x/external/win32-specific/gles/prebuilt/*.lib
/frameworks/cocos2d-x/external/win32-specific/icon/prebuilt/*.dll
/frameworks/cocos2d-x/external/win32-specific/icon/prebuilt/*.lib
/frameworks/cocos2d-x/external/win32-specific/zlib/prebuilt/*.lib
/frameworks/cocos2d-x/external/win32-specific/zlib/prebuilt/*.dll
/frameworks/cocos2d-x/external/wp8-specific/angle/prebuilt/ARM/*.lib
/frameworks/cocos2d-x/external/wp8-specific/angle/prebuilt/ARM/*.dll
/frameworks/cocos2d-x/external/wp8-specific/angle/prebuilt/Win32/*.lib
/frameworks/cocos2d-x/external/wp8-specific/angle/prebuilt/Win32/*.dll
/frameworks/cocos2d-x/external/wp8-specific/zlib/prebuilt/ARM/*.lib
/frameworks/cocos2d-x/external/wp8-specific/zlib/prebuilt/Win32/*.lib
